/* .loader {
  height: 50px;
  transform-origin: bottom center;
  animation: rotate 3s linear infinite;
}

.circle {
  display: inline-block;
  background-color: rgb(245, 122, 7);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: scale(0);
  animation: grow 1.5s linear infinite;
  margin: -10px;
}
.circle:nth-child(2) {
  background-color: palevioletred;
  animation: grow 1s linear infinite;
  animation-delay: 0.75s;
}
.circle:nth-child(3) {
  background-color: rgb(245, 122, 7);
  animation: grow 0.75s linear infinite;
  animation-delay: 0.5s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  50% {
    transform: scale(1);
  }
} */
.loader {
  border: 16px solid #888;
  border-top: 16px solid rgba(245, 122, 7, 0.8);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
